In [159]:
import pandas as pd
import numpy as np

In [160]:
file_path = "C:\Programming\hands-on-projects\day1-individual+household+electric+power+consumption\household_power_consumption.txt"
with open(file_path,"r") as file:
    print(type(file))
    d = []
    for line in file:
        d_strip = line.strip()
        d_split = d_strip.split(";")
        d.append(d_split)
df = pd.DataFrame(d[1:], columns=d[0])

<class '_io.TextIOWrapper'>

In [161]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.000
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.000
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.000
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.000
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.000

In [162]:
df.describe()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2075259,2075259,2075259,2075259,2075259,2075259,2075259,2075259,2075259
unique,1442,1440,4187,533,2838,222,89,82,33
top,6/12/2008,17:24:00,?,0.000,?,1.000,0.000,0.000,0.000
freq,1440,1442,25979,481561,25979,172785,1880175,1436830,852092

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         object
dtypes: object(9)
memory usage: 142.5+ MB

In [164]:
df.iloc[3]

Date                     16/12/2006
Time                       17:27:00
Global_active_power           5.388
Global_reactive_power         0.502
Voltage                     233.740
Global_intensity             23.000
Sub_metering_1                0.000
Sub_metering_2                1.000
Sub_metering_3               17.000
Name: 3, dtype: object

In [165]:
df.loc[3]

Date                     16/12/2006
Time                       17:27:00
Global_active_power           5.388
Global_reactive_power         0.502
Voltage                     233.740
Global_intensity             23.000
Sub_metering_1                0.000
Sub_metering_2                1.000
Sub_metering_3               17.000
Name: 3, dtype: object

In [ ]:
df.replace('?', np.nan, inplace=True)
numeric_cols = [col for col in df.columns if col not in ['Date', 'Time']]
df[['Date','Time']] = df[['Date','Time']].apply(pd.to_datetime, errors='coerce')
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

C:\Users\sinah\AppData\Local\Temp\ipykernel_26512\2701547936.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df[['Date','Time']] = df[['Date','Time']].apply(pd.to_datetime, errors='coerce')

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object
       Global_active_power  Global_reactive_power       Voltage  \
count         2.049280e+06           2.049280e+06  2.049280e+06
mean          1.091615e+00           1.237145e-01  2.408399e+02
std           1.057294e+00           1.127220e-01  3.239987e+00
min           7.600000e-02           0.000000e+00  2.232000e+02
25%           3.080000e-01           4.800000e-02  2.389900e+02
50%           6.020000e-01           1.000000e-01  2.410100e+02
75%           1.528000e+00           1.940000e-01  2.428900e+02
max           1.112200e+01           1.390000e+00  2.541500e+02

       Global_intensity  Sub_metering_1  Sub_metering_2  Sub_metering_3
count      2.049280e+06    2.049280e+06    2.049280e+06    2.049280e+06
mean       4.627759e+00    1.121923e+00    1.298520e+00    6.458447e+00
std        4.444396e+00    6.153031e+00    5.822026e+00    8.437154e+00
min        2.000000e-01    0.000000e+00    0.000000e+00    0.000000e+00
25%        1.400000e+00    0.000000e+00    0.000000e+00    0.000000e+00
50%        2.600000e+00    0.000000e+00    0.000000e+00    1.000000e+00
75%        6.400000e+00    0.000000e+00    1.000000e+00    1.700000e+01
max        4.840000e+01    8.800000e+01    8.000000e+01    3.100000e+01

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   datetime64[ns]
 1   Time                   datetime64[ns]
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: datetime64[ns](2), float64(7)
memory usage: 142.5 MB